<div class="jumbotron jumbotron-fluid text-white bg-primary mb-0">
  <div class="container text-center">
    <%= image_tag "Winni.gif", class: "img-fluid fill-container", alt: "WinniE-Gadget" %>
  </div>
</div>
