<div class="jumbotron jumbotron-fluid text-white bg-primary mb-0">
  <div class="container text-center">
    <h1 class="display-3">Winni E-Gadget</h1>
    <p class="lead">Discover the tech that fits your life.</p>
    <%= link_to 'About Us', about_path, class: 'btn btn-lg btn-light' %>
  </div>
</div>
