<!-- app/views/home/_home_product_card.html.erb -->
<div class="product-card">
  <h3><%= product.name %></h3>
  <p><%= product.description %></p>
  <% if product.on_sale? %>
    <div class="sale">On Sale!</div>
  <% end %>
  <!-- Add more product details here -->
</div>
