<div class="container my-4">
  <div class="row">
    <!-- Service 1: Free Shipping -->
    <div class="col-md-3 text-center">
      <i class="fas fa-shipping-fast mb-2"></i>
      <h5>Free Shipping</h5>
      <p>On orders over $99</p>
    </div>
    <!-- Service 2: 24/7 Support -->
    <div class="col-md-3 text-center">
      <i class="fas fa-headset mb-2"></i>
      <h5>24/7 Support</h5>
      <p>Live Chat or Call</p>
    </div>
    <!-- Service 3: Online Payment -->
    <div class="col-md-3 text-center">
      <i class="fas fa-credit-card mb-2"></i>
      <h5>Online Payment</h5>
      <p>Secure Payment Services</p>
    </div>
    <!-- Service 4: Easy Return -->
    <div class="col-md-3 text-center">
      <i class="fas fa-undo mb-2"></i>
      <h5>Easy Return</h5>
      <p>Hassle Free Shopping</p>
    </div>
  </div>
</div>
