<div class="row">
  <div class="col-md-3 mb-4">
    <div class="card h-100 shadow">
      <div class="card-body text-center">
        <i class="fas fa-shipping-fast mb-2"></i>
        <h5 class="card-title">Free Shipping</h5>
        <p class="card-text">On orders over $99</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card h-100 shadow">
      <div class="card-body text-center">
        <i class="fas fa-headset mb-2"></i>
        <h5 class="card-title">24/7 Support</h5>
        <p class="card-text">Live Chat or Call</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card h-100 shadow">
      <div class="card-body text-center">
        <i class="fas fa-credit-card mb-2"></i>
        <h5 class="card-title">Online Payment</h5>
        <p class="card-text">Secure Payment Services</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card h-100 shadow">
      <div class="card-body text-center">
        <i class="fas fa-undo mb-2"></i>
        <h5 class="card-title">Easy Return</h5>
        <p class="card-text">Hassle Free Shopping</p>
      </div>
    </div>
  </div>
</div>
