<!-- app/views/orders/thank_you.html.erb -->

<h1>Thank you for your order!</h1>
<p>Your order has been successfully placed and is now being processed.</p>

<%= link_to 'Continue Shopping', root_path, class: 'btn btn-primary' %>
