/* .body-background {
  background-color: #f4f4f4;
}

.navbar-custom {
  background-color: #00a6b4;
}

.nav-link {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

.card {
  background-color: #ffffff;
  border: none;
}


.card-img-top {
  height: 300px; 
  width: 250px;
  object-fit: cover;
}

.card-title {
  color: #333333;
}

.price {
  color: #333333;
}

.label-hot {
  color: #e74c3c;
}

.btn-add-to-cart {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 0;
}

.btn-add-to-cart:hover {
  background-color: #0056b3;
}

.star-rating .fa-star.checked {
  color: #ffd700;
}


.pagination {
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sale-price {
  font-size: 1.25em;
  color: #27ae60;
}

.original-price {
  font-size: 0.85em;
  color: #7f8c8d;
  text-decoration: line-through;
} */


