<!DOCTYPE html>
<html>
<head>
  <title>WinniEGadget</title>
  <!-- CSS/Bootstrap -->
</head>
<body>
  <%= render 'layouts/navbar' %>

  <div class="container">
    <%= yield %>
  </div>

  <!-- JavaScript/jQuery -->
</body>
</html>



